:root{
    --main-dark-grey: #131315;
    --main-light-grey: #191D24;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    margin: 0;

}

.upperBar, .lowerBar{
    height: 10dvh;
    background-color: var(--main-light-grey);
}


.content{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
}


.content > div:first-child{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
}


.content > div:first-child > div:not(.score){
    width: 50%;
    height: 80%;
    border: red 1px solid;

    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
 

    font-size: 1.5rem;
}



.score{
    width: 10rem;
    border-radius: 0.5rem;
    border: blue 1px solid;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    text-align: center;
    
}


.score > p:last-child{
    flex: 1;
    font-size: 2rem;
}


.content > div:last-child {
    display: flex;
}


.choices{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.choices > button{
    width: 24rem;
    height: 18rem;
    border-radius: 2rem;
    border: none;
}