:root{
    --main-dark-grey: #131315;
    --main-light-grey: rgb(35, 38, 43);
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    margin: 0;

    color: white;
    background-color: var(--main-dark-grey);
    text-transform: uppercase;


}

.upperBar, .lowerBar{
    height: 10dvh;
}


.content{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
}


.content > div:first-child{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
}


#display{
    width: 50%;
    height: 80%;
    background-color: var(--main-light-grey);

    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
    gap: 1rem;

    border: 1px solid #5e6067;

 

    font-size: 1.5rem;
}



.score{
    width: 10rem;
    border-radius: 1rem;
    background-color: var(--main-light-grey);

    display: flex;
    flex-direction: column;
    text-align: center;

    border: 1px solid #5e6067;
}


.score > p:last-child{
    font-size: 2.5rem;
    flex: 1;
}


.score > p:first-child{
    flex-basis: 2.5rem;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid #5e6067;
}


.score > p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content > div:last-child {
    display: flex;
}


.choices{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.choices > button{
    width: 16rem;
    height: 7rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--main-light-grey);
    color: white;
    text-transform: uppercase;

    font-size: 1.2rem;

    border: 1px solid #5e6067;

    transition: 200ms;
    
}


.choices > button:hover{
    scale: 1.1;
    transition: 200ms;
}